body{
    background-color: var(--sfondo-sito);
}

a{
    color: var(--testo-importante);
}
.errorText{
    color: red;
    padding: 0.5rem;
}

.nav-header-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    margin: 0;
    padding: 0 1rem;
    li{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
    a{
        padding: 0.5rem;
    }
}

main{
    min-height: calc(100vh - 64px);
    padding-bottom: 70px;
    overflow-y: auto;
    h1, h2{
        font-size: 3rem;
        color: #4e392e;
        padding: 0.4rem;
    }
    ul{
        padding: 0;
    }
    .sottolineato{
        
        width: 70%;
        clip-path: polygon(10px 0px, 100% 0px, calc(100% - 10px) 100%, 0% 100%);
        background-color: var(--colore-sottolineatura);
    }
    .contTitle{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section{
        padding: 2rem;
        .listCard li::marker {
            content: "⚽ ";
        }
    }
    section.card{
        background-color: var(--colore-testo);
        margin: 2rem;
        
    }
    section.active{
        background-color: var(--colore-testo);
        
        
    }
    .navHomePublic{
        display: flex;
        gap: 0.3rem;
    }
    .modalForm{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(137, 137, 137, 0.77);
        z-index: 100;
        padding: 2rem;
        .contentForm{
            padding: 1rem;
            border-radius: 20px;
            background-color: white;  
        }
    }
    .box{
        background-color: var(--box-background);
        display: block;
        padding: 0.5rem;
        margin: 1rem 0;
        cursor: pointer;
    }
    .pageVerifyEmail{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: white;
        
        .fa-circle-check{
            font-size: 4rem;
            color: green;
        }
        .fa-circle-xmark{
            font-size: 4rem;
            color: red;
        }
    }
    .pageWidgetHome{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: var(--gap-flex-home);
        justify-content: center;
        text-align: center;
        margin-bottom: var(--header-heigth);
    }
    .contFlex{
        display: flex;
        max-height: 14rem;
        gap: var(--gap-flex-home);
    }
    .widget{
        position: relative;
        flex-grow: 0;
        min-height: 3.5rem;
        border-radius: 20px;
        cursor: pointer;
        
        .opacityBackGroungWidget{
            position: absolute;
            top: 0;
            left: 0;
            
            height: 100%;
            width: 100%;
            border-radius: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-weight: bold;
            color: var(--sfondo-sito);
            font-weight: bold;
            -webkit-text-stroke: 0.5px var(--testo-widget);
            

            
        }
    }
    .textClickable{
        padding: 0.5rem;
        border: 1px solid var(--colore-primario);
        border-radius: 15px;
    }
    .widget.active{
        border: 5px solid var(--border-active-widget);
        background-color: var(--border-active-widget);
    }
    .notifyWIdget{
        display: none;
        position: absolute;
        top: -25px;
        left: 0;
        background-color: var(--border-active-widget);
        border-radius: 50%;
        span{
            padding: 0.5rem;
        }
        
    }
    .notifyWIdget.active{
        display: block;
    }
    /* .widget:hover {
        background-color: var(--colore-primario-rgba-widget-background);
        font-size: 2rem;
        transition: all 0.6s;
    }

    .widget:hover img {
        transform: scale(2);
        transition: transform 0.6s;
    } */
    
    .flex-grow-grande{
        flex-grow: 1;
        min-height: 7rem;
    }
    .contWidgetDuble {
        display: flex;
        flex-direction: column;
        gap: var(--gap-flex-home);
    }
    .last-flex{
        max-height: 5rem;
    }
    .widget img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .contFunctional{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        background-color: red;
        .contFlex{
            height: 10rem;
            width: 10rem;
        }
    }
 
}
.button{
    background-color: var(--button-background);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    cursor: pointer;
    &:hover{
        background-color: var(--button-background-hover);
    }
}

@media screen and (max-width: 1000px) {
    /* quando è più piccolo di mille */
 
 
}
@media screen and (max-width: 700px) {
    /* quando è più piccolo di 700 */
    .nav-header-responsive{
        position: fixed;
        bottom: 0;
        left: 0;
        height: var(--header-heigth);
        width: 100%;
        background-color: var(--sfondo-chiaro-sezioni);
    }
    header{
        width: 100%;
    }
    .nav-header-no-responsive{
        display: none;
    }
    
    footer{
        display: none;
    }
 
}
@media screen and (min-width: 1000px) {
 /* quando è più grande di 1000 */
 
 
}